
.App {
  margin: 2em;
}

.play-button {
  border: 0px;
  border-radius: 5em;

  font-size: 14px;
  padding: 8px;
  background-color: rgb(39, 124, 89);
  color: white;
}

.playlist-list {
  list-style-type: none;
  columns: 150px 2;
  align-content: start;

  .playlist-img {
    font-size: 0;
    height: 30px;
  }

  .playlist {
    font-size: 15px; 
    background-color: lightcoral;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    border-radius: 1em;
    width: 95%;
    align-items: center;
    justify-content: center;
    display: none;


    &.true {
      display: inline-block;
    }

  }

  .button {
    border-radius: 1em;
    border: 0px;
    font-size: 14px;
    margin: 10px;

  }

}

.track-list {
  list-style-type: none;
  align-items: center;
  align-content: start;

  .track-img {
    font-size: 0;
    height: 30px;
    margin-right: 10px;
  }

  .tracks {
    color: white;
    display: none;
    font-size: 15px; 
    background-color: rgb(56, 56, 59);
    padding: 5px;
    margin: 5px 0px 0px 0px;
    border-radius: 1em;
    width: 95%;

    &.true {
      display: inline-block;
    }

    .link{
      text-decoration: none;
      color: white;
      }

  }

}


.rec-button {
  border: 0px;
  border-radius: 5em;

  font-size: 14px;
  padding: 8px;
  margin: 10px;
  background-color: rgb(39, 124, 89);
  color: white;
}

.rec-list {
  list-style-type: none;
  align-items: center;
  align-content: start;

  .rec-img {
    font-size: 0;
    height: 30px;
    margin-right: 10px;
  }

  .h3 {
    margin-bottom: 0px;
  }

  .recs {
    color: white;
    display: none;
    font-size: 15px; 
    background-color: rgb(56, 56, 59);
    padding: 5px;
    margin: 5px 0px 0px 0px;
    border-radius: 1em;
    width: 95%;

    &.true {
      display: inline-block;
    }

    .link{
      text-decoration: none;
      color: white;
      }

  }

}

